<div class="row">
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
<img src="../../../assets/830ab2a4-10a0-4484-8614-f4072310a2c8.jpg" id="fotoperfil"
 class="img-fluid">
    </div>
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <p id="name">Mario Fernando Blanco</p>
        <p>Full Stack Developer Junior</p>
    </div>
    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
        <span>
            <h1>
                Acerca de mi
            </h1>
            <p>Hola, soy desarrollador full stack junior, egresado del convenio Argentina Programa 3.0, 
                articulado entre la Cessi, el Inti y el estado nacional, mis habilidades están enfocadas en el front-end y el back-end mi interés en el futuro inmediato se centra en el desarrollo de software 
                y las nuevas tecnologías, como la inteligencia artificial y la blockchain.</p>
        </span> 
    </div>
</div>
