<div class="row">
    <h1>Proyectos realizados</h1>
    <div class="contenedor">
      <div class="col-sm-12 col-md-7 col-lg-7 parte1">
        <h2>Portafolio Argentina Programa</h2>
        <p>
            Desarrolle el presente portafolio aplicando los conocimientos obtenidos en el programa Nacional Argentina Programa, para ser desarrollador full stack junior.
            
        </p>
      </div>
      <div class="col-sm-12 col-md-3 col-lg-3 offset-md-1 offset-lg-1 parte2">
<img src="../../../assets/argprogimages.png" class="img-proyecto">
      </div>

    </div>
</div>