<div class="row">
    <h1>Experiencia Laboral</h1>
    <div class="col-lg-1"></div>
    <div class="col-lg-11">
<ul>
    <li>
    <h2>Asesor bancario - Banco Colpatria Colombia</h2><strong>(Enero 2003 - Diciembre 2006):</strong><p> Elaboraba y gestionaba productos financieros mediante el uso de sistemas especializados, 
    asegurando la correcta implementación de los mismos y garantizando el cumplimiento de los estándares
     y regulaciones establecidos en el mercado financiero.</p>
    </li>
    <li>
    <h2>Asesor comercial OnCelular - venta y reparación de equipos</h2> <strong>(Mayo 2012 - Diciembre 2015):</strong><p> Interacción con los clientes para entender sus necesidades y ofrecer recomendaciones personalizadas de productos y servicios.</p>
    <p>Coordinación con el equipo técnico para garantizar un servicio rápido y eficiente.</p>
   <p>Implementación de soluciones de comercio electrónico.</p>
    </li>
    <li>
    <h2> El Ojo de Thundera - Tienda de comics</h2> <strong>(Enero 2016 - Actualidad):</strong> <p> Desarrollo de estrategias para venta online y presencial.</p>
    <p> Creación y mantenimiento de bases de datos de clientes.</p>
    <p> Administración y mantenimiento de plataformas de venta online.</p>
    </li>
</ul>
    </div>
</div>
