<div class="row">
   <h1>Hard y soft skills </h1>
    <div class="text-center col-sm-4 col-md-4 col-lg-4"><circle-progress
  [percent]="70"
  [radius]="100"
  [showUnits]="false"
  [title]="'HTML'"
  [titleColor]="'blue'"
  [titleFontSize]="'2em'"

  
  [outerStrokeWidth]="16"
  [innerStrokeWidth]="8"
  [outerStrokeColor]="'#78C000'"
  [innerStrokeColor]="'#C7E596'"
  [animation]="true"
  [animationDuration]="500"
></circle-progress></div>
<div class="text-center col-sm-4 col-md-4 col-lg-4"><circle-progress
    [percent]="50"
    [radius]="100"
    [showUnits]="false"
    [title]="'CSS'"
    [titleColor]="'blue'"
    [titleFontSize]="'2em'"
  
    
    [outerStrokeWidth]="16"
    [innerStrokeWidth]="8"
    [outerStrokeColor]="'#78C000'"
    [innerStrokeColor]="'#C7E596'"
    [animation]="true"
    [animationDuration]="500"
  ></circle-progress></div>
  <div class="text-center col-sm-4 col-md-4 col-lg-4"><circle-progress
    [percent]="50"
    [radius]="100"
    [showUnits]="false"
    [title]="'Javascript'"
    [titleColor]="'blue'"
    [titleFontSize]="'2em'"
  
    
    [outerStrokeWidth]="16"
    [innerStrokeWidth]="8"
    [outerStrokeColor]="'#78C000'"
    [innerStrokeColor]="'#C7E596'"
    [animation]="true"
    [animationDuration]="500"
  ></circle-progress></div>
  <div class="text-center col-sm-4 col-md-4 col-lg-4"><circle-progress
    [percent]="80"
    [radius]="100"
    [showUnits]="false"
    [title]="'Git'"
    [titleColor]="'blue'"
    [titleFontSize]="'2em'"
  
    
    [outerStrokeWidth]="16"
    [innerStrokeWidth]="8"
    [outerStrokeColor]="'#78C000'"
    [innerStrokeColor]="'#C7E596'"
    [animation]="true"
    [animationDuration]="500"
  ></circle-progress></div>
  <div class="text-center col-sm-4 col-md-4 col-lg-4"><circle-progress
    [percent]="50"
    [radius]="100"
    [showUnits]="false"
    [title]="'Ingles'"
    [titleColor]="'blue'"
    [titleFontSize]="'2em'"
  
    
    [outerStrokeWidth]="16"
    [innerStrokeWidth]="8"
    [outerStrokeColor]="'#78C000'"
    [innerStrokeColor]="'#C7E596'"
    [animation]="true"
    [animationDuration]="500"
  ></circle-progress></div>
  <div class="text-center col-sm-4 col-md-4 col-lg-4"><circle-progress
    [percent]="90"
    [radius]="100"
    [showUnits]="false"
    [title]="'Autogestión'"
    [titleColor]="'blue'"
    [titleFontSize]="'2em'"
  
    
    [outerStrokeWidth]="16"
    [innerStrokeWidth]="8"
    [outerStrokeColor]="'#78C000'"
    [innerStrokeColor]="'#C7E596'"
    [animation]="true"
    [animationDuration]="500"
  ></circle-progress></div>
</div>